{% extends 'store/base.html' %}

{% block content %}
<div class="row justify-content-center pt-4">
  <div class="col-md-5">
    <div class="card p-4 shadow-sm border-0 rounded-4">
      <h3 class="text-center fw-bold mb-3">Crear Cuenta</h3>

      {% if error %}
        <div class="alert alert-danger py-2 small">{{ error }}</div>
      {% endif %}

      <form method="POST" action="{% url 'register' %}">
        {% csrf_token %}
        <div class="mb-3">
          <label class="form-label fw-semibold">Usuario</label>
          <input type="text" name="username" class="form-control" placeholder="Ingresa tu usuario" required>
        </div>

        <div class="mb-3">
          <label class="form-label fw-semibold">Contraseña</label>
          <input type="password" name="password" class="form-control" placeholder="Ingresa tu contraseña" required>
        </div>

        <button type="submit" class="btn btn-primary w-100 rounded-pill py-2">
          Registrarme
        </button>
      </form>

      <div class="text-center mt-3">
        <small class="text-muted">¿Ya tienes cuenta? <a href="{% url 'login' %}">Inicia sesión</a></small>
      </div>
    </div>
  </div>
</div>
{% endblock %}
